<div class="navbar bg-base-300 rounded-box">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li *ngIf="isAuthenticated" role="presentation" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/recipes">Recipes</a>
                </li>
                <li role="presentation" routerLinkActive="active"><a routerLink="/shopping-list">Shopping</a></li>
                <li role="presentation" routerLinkActive="active" *ngIf="!isAuthenticated"><a
                        routerLink="/login">Authenticate</a></li>
            </ul>
        </div>
        <a class="btn btn-ghost normal-case text-xl">The Recipe Book</a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                *ngIf="isAuthenticated"><a routerLink="/recipes">Recipes</a></li>
            <li role="presentation" routerLinkActive="active"><a routerLink="/shopping-list">Shopping</a></li>
            <li role="presentation" routerLinkActive="active" *ngIf="!isAuthenticated"><a
                    routerLink="/login">Authenticate</a></li>
        </ul>
    </div>

    <div class="flex justify-end flex-1 px-2">
        <div class="flex items-stretch">
            <a class="btn btn-ghost normal-case text-xl" *ngIf="isAuthenticated">Logout</a>
            <div class="dropdown dropdown-hover dropdown-left">
                <div tabindex="0" role="button" class="btn btn-ghost rounded-btn" *ngIf="isAuthenticated">Manage
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z"
                            fill="#000000" />
                    </svg>
                </div>
                <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4">
                    <li (click)="onSaveData()"><a>Save Data</a></li>
                    <li (click)="onFetchData()"><a>Fetch Data</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>