<form [formGroup]="recipeForm" (ngSubmit)="onRecipeSubmit()">
    <div class="my-6 flex items-center justify-start gap-x-6">
        <button type="button" class="btn  btn-warning text-sm font-semibold leading-6 text-gray-700"
            (click)="onCancel()">Cancel</button>
        <button *ngIf="editMode" type="button" class="btn btn-error text-sm font-semibold leading-6 text-gray-900"
            (click)="onDelete()">Delete</button>
        <button type="submit" [disabled]="!recipeForm.valid"
            class="btn btn-primary x-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 
             focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{editMode?
            'Update':'Save'}}</button>
    </div>
    <div class="grid sm:grid-cols-1 gap-4 md:grid-cols-1">
        <div class="form-control">
            <label class="label" for="name">
                <span class="label-text text-lg">Name</span>
            </label>
            <input type="text" placeholder="Recipe name"
                class="input input-bordered  w-full max-w-lg text-black placeholder:text-black/70" id="name"
                formControlName="name">
        </div>

        <div class="form-control">
            <label class="label" for="imagePath">
                <span class="label-text text-lg">Image URL</span>
            </label>

            <input type="text" placeholder="Recipe URL"
                class="input input-bordered  w-full max-w-lg text-black placeholder:text-black/70" id="imagePath"
                formControlName="imagePath">
        </div>

        <div class="form-control">
            <img src="" class="image-full max-w-full h-auto">
        </div>

        <div class="form-control">
            <label class="label" for="description">
                <span class="label-text text-lg">Description</span>
            </label>
            <textarea class="textarea textarea-bordered h-24 w-full max-w-lg" name="description" id="description"
                formControlName="description" cols="10" rows="6"></textarea>
        </div>

        <div formArrayName="ingredients">
            <div *ngFor="let ingredientCtl of ingredientsControl.controls; let i = index" [formGroupName]="i"
                class="mb-3">
                <input formControlName="name"
                    class="input input-bordered  w-60 max-w-xs text-black placeholder:text-black/70 mr-5" type="text"
                    [fo]>
                <input formControlName="amount" class="input input-bordered  w-12 text-black placeholder:text-black/70"
                    type="number">
                <button class="btn btn-error ml-5" type="button" (click)="removeIngredient(i)">X</button>
            </div>
            <hr class="w-full max-w-lg">
            <button class="btn btn-success text-sm font-semibold leading-6 text-gray-700 mt-5" type="button"
                (click)="addIngredient()">Add Ingredient</button>
        </div>
    </div>
</form>