<div class="relative flex flex-col justify-center h-screen overflow-hidden">

    <span *ngIf="isLoading" class="justify-items-center   align-middle loading loading-ring loading-lg text-info">
    </span>
    <div *ngIf="!isLoading"
        class="w-full p-6 m-auto bg-white rounded-md shadow-md ring-2  ring-gray-800/50 lg:max-w-lg">
        <div role="alert" class="alert alert-error" *ngIf="error">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span> {{error}}</span>
        </div>
        <!-- <h1 class="text-3xl font-semibold text-center text-gray-700">DaisyUI</h1> -->
        <form class="space-y-4" (ngSubmit)="onSubmit(authForm)" #authForm="ngForm">
            <div>
                <label class="label">
                    <span class="text-base label-text">Email</span>
                </label>
                <input name="email" id="email" type="text" placeholder="Email Address" ngModel
                    class="w-full input input-bordered" required email />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">Password</span>
                </label>
                <input name="password" id="password" type="password" placeholder="Enter Password"
                    class="w-full input input-bordered" ngModel required minlength="6" />
            </div>
            <a href="#" class="text-xs text-gray-600 hover:underline hover:text-blue-600">Forget Password?</a>
            <div>
                <button [disabled]="!authForm.valid" class="btn btn-block" type="submit"> {{ isLoginMode ? 'Login':
                    'Sign
                    Up'}}</button>
            </div>

            <div>
                <button class="btn btn-block btn-info" (click)="onSwitchMode()" type="button">Switch To {{ isLoginMode ?
                    'Sign Up': 'Login'}}</button>
            </div>
        </form>
    </div>
</div>