<div class="grid grid-cols-1">
    <div class="col-span-12">
        <img src="" alt="" class="w-full">
    </div>
</div>
<div class="grid grid-cols-1">
    <div class="col-span-12">
        <h1 class="text-2xl font-bold">Recipe Name</h1>
    </div>
</div>
<div class="grid grid-cols-1">
    <div class="col-span-12">
        <div class="btn-group">
            <div class="dropdown mt-5 mb-32 ">
                <button class="custom-button">Manage Recipe</button>
                <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
                    <li><a href="#">To Shopping List</a></li>
                    <li><a href="#">Edit Recipe</a></li>
                    <li><a href="#">Delete Recipe</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="grid grid-cols-1">
    <div class="col-span-12">
        Description
    </div>
</div>
<div class="grid grid-cols-1">
    <div class="col-span-12">
        Ingredients
    </div>
</div>