<div class="grid grid-cols-1">
    <div class="col-span-12">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="w-1/2">
    </div>
</div>
<div class="grid grid-cols-1">
    <div class="col-span-12">
        <h1 class="text-2xl font-bold">{{recipe.name}}</h1>
    </div>
</div>
<div class="grid grid-cols-1">
    <div class="col-span-12">
        <div class="btn-group" appDropdown>
            <div class="dropdown mt-5 mb-5">
                <button class="custom-button">Manage Recipe</button>
                <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
                    <li><a (click)="onAddToShoppingList()"><button>To Shopping List</button></a></li>
                    <li><a [routerLink]="['edit']">Edit Recipe</a></li>
                    <li><a (click)="onDeleteRecipe()"> <button>Delete Recipe</button></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="grid grid-cols-1">
    <div class="col-span-12">
        {{recipe.description}}
    </div>
</div>
<div class="grid grid-cols-1">
    <div class="col-span-12">
        <ul class="w-56 ">
            <li class="bg-base-200 mt-2 rounded-md" *ngFor="let item of recipe.ingredients"> {{ item.name}} -
                {{item.amount}}</li>
        </ul>
    </div>
</div>