<a class="m-2 cursor-pointer" data-theme="retro" [routerLink]="[index]">
    <div class="flex w-96 bg-base-100 shadow-xl rounded-sm" routerLinkActive="active">
        <div class="card-body">
            <h2 class="card-title">{{recipe.name}}</h2>
            <p>{{recipe.description}}</p>
        </div>
        <!-- <figure><img src="{{recipe.imagePath}}" alt=" {{recipe.name}}" /></figure> -->
        <figure class="w-36 h-auto"><img [src]="recipe.imagePath" alt=" {{recipe.name}}" />
        </figure>
    </div>
</a>