<div class="flex flex-col items-start ml-5  my-10 w-full">
    <div class="custom-button">New Recipe</div>
    <div *ngFor="let recipe of recipes" class="flex">
        <a href="#" class="m-2" data-theme="retro">
            <div class="flex w-96 bg-base-100 shadow-xl rounded-sm">
                <div class="card-body">
                    <h2 class="card-title">{{recipe.name}}</h2>
                    <p>{{recipe.description}}</p>
                </div>
                <!-- <figure><img src="{{recipe.imagePath}}" alt=" {{recipe.name}}" /></figure> -->
                <figure class="w-36 h-auto"><img [src]="recipe.imagePath" alt=" {{recipe.name}}" />
                </figure>
            </div>
        </a>

    </div>
    <app-recipe-item></app-recipe-item>
</div>