<form (ngSubmit)="onAddIngredient(f)" #f="ngForm">
    <div class="grid sm:grid-cols-1 gap-4 md:grid-cols-2">
        <div class="form-control">
            <label class="label">
                <span class="label-text text-lg">Name</span>
            </label>
            <label class="input-group">
                <span>Name</span>
                <input type="text" placeholder="ingredient name" class="input input-bordered" name="name" ngModel
                    required>
            </label>
        </div>

        <div class="form-control">
            <label class="label">
                <span class="label-text text-lg">Amount</span>
            </label>
            <label class="input-group">
                <span>Amount</span>
                <input type="number" placeholder="Amount" class="input input-bordered" name="amount" ngModel required
                    pattern="^[1-9]+[0-9]*$">
            </label>
        </div>
    </div>

    <div class="my-6 flex items-center justify-start gap-x-6">
        <button type="button" class="btn text-sm font-semibold leading-6 text-gray-900"
            (click)="onCancel()">Cancel</button>
        <button type="button" class="btn btn-error text-sm font-semibold leading-6 text-gray-900">Delete</button>
        <button type="submit" [disabled]="!f.valid"
            class="btn btn-primary x-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 
             focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{editMode?
            'Update':'Add'}}</button>
    </div>
</form>